body {
    font-family: tahoma, verdana;
    margin: 0;
}

.orange {
    color: #EE7722;
}

.header {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6481a1), to(#4e7196));
    background-image: -webkit-linear-gradient(#6481a1, #4e7196);
    background-image: -o-linear-gradient(#6481a1, #4e7196);
    padding: 24px 0;
    background-color: #6481A1;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    color: #FFF;
    padding: 20px;
}

.articles {
    padding: 20px;
}

.articles h1.mainHeaders {
    color: #5488CD;
    font-size: 30px;
}

.articles h1.mainHeaders span {
    font-size: 12px;
    font-weight: 100;
}

.articles h1 {
    font-size: 25px;
    color: #CC4422;
}

.articles h2 {
    font-size: 22px;
    color: #BB1144;
}

.articles h3 {
    font-size: 18px;
    color: #000;
}

.articles h4 {
    font-size: 16px;
}

.articles h5 {
    font-size: 14px;
}

.articles h6 {
    font-size: 12px;
}

.articles em {
    color: #4477BB;
}

.articles code {
    color: #FF6622;
}

.articles blockquote {
    position: relative;
    color: #4488AA;
}

.articles blockquote:after {
    content: "";
    position: absolute;
    left: -40px;
    top: -10px;
    width: 5px;
    bottom: 0;
    margin-bottom: -10px;
    display: block;
    background: #000;
}