{% extends "layout.twig" %}

{% block title %} Virtustilus blog: Spring, Kotlin, Twig, Symfony2, Doctrine2 {% endblock %}

{% block meta %}
  {% for metaVerification in verifications %}
    <meta name="{{ metaVerification.name }}" content="{{ metaVerification.code }}" />
  {% endfor %}
{% endblock %}

{% block body %}

  <div class="header">
    <h1>Hello world! I'm a bit known as <span class="orange">{{ name }}</span></h1>
    <h3>Started at 2015-05-20</h3>
    <p>
      In this blog I'm going to show you, how to use <i>Spring Boot</i> and compare it to symfony2 framework.
      I'm writing this text right in JTwig template. It's almost good, but I would expose some info how to make
      your first <b>Spring</b> application with <b>Kotlin</b> language.
      Next parts of this page are different entities in Markdown format and are loaded from database.
    </p>
    <p>
      Server restarted at: {{ updatedAt }}, request number from 24 of May 20:00: {{ maxId }}
    </p>
  </div>

  <div class="articles">
    {% for page in pages %}
      <hr>
      <h1 class="mainHeaders"><a name="{{ page.slug }}"> {{ page.title }} {{ page.updatedAt|date }} </a></h1>
      <p>
        {{ page.htmlView }}
      </p>
    {% endfor %}
  </div>

{% endblock %}
