<html>
<head>
    <meta charset="utf-8">
    {% block meta %}{% endblock %}
    <title>{% block title %}Main Layout{% endblock %}</title>
    <link href="css/styles.css" rel="stylesheet">
    {% block styles %}{% endblock %}
</head>
<body>
{% block body %}
    Main Layout
{% endblock %}
</body>
</html>