{% extends "layout.twig" %}

{% block body %}

    <h2>Statistic</h2>
    <p>
        Date from: {{ startDate|date }} <br/>
        Date to: {{ endDate|date }} <br/>
    </p>

    <table border="1" cellpadding="10">
    {% for host in hosts %}
        <tr>
            <td> {{ host.host }} </td>
            <td> {{ host.count }} </td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}