{% extends "../layout.twig" %}

{% block title %} New  {% endblock %}

{% block styles %}
    <style type="text/css">
        textarea{
            width: 100%;
            height: 300px;
            margin: 10px 0;
        }
        input[type=text]{
            width: 600px;
            height: 30px;
            line-height: 36px;
            margin: 20px;
        }
        input[type=submit]{
            width: 100px;
            height: 40px;
            line-height: 40px;
            margin: 20px;
        }
    </style>
{% endblock %}

{% block body %}

    <form name="form" method="post" action="/pages">

        Name: <input type="text" name="name"> </br>
        Title: <input type="text" name="title"> </br>
        SortId: <input type="text" name="sortId" value="100"> </br>
        MD text: <textarea name="data"></textarea> </br>


        <input type="hidden"
               name="{{ _csrf.parameterName }}"
               value="{{ _csrf.token }}"/>

        <input type="submit" value="Add new data">
    </form>

{% endblock %}
