{% extends "../layout.twig" %}

{% block title %} Show item {% endblock %}

{% block body %}

    {% if pageEntity %}

        Name: {{ pageEntity.name }} <br/>
        Title: {{ pageEntity.title }} <br/>
        Slug: {{ pageEntity.slug }} <br/>
        Data:
<pre>
{{ pageEntity.pageData }}
</pre> <br/>
        UpdatedAt: {{ pageEntity.updatedAt|date }} <br/>
        SortId: {{ pageEntity.sortColumn }} <br/>

    {% else %}
        Nothing to show
    {% endif %}

{% endblock %}